body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1em;
    margin: 10px 0;
    transition: background 0.3s ease;
    color: white;
}

.btn-github {
    background-color: #24292e;
}

a:hover {
    filter: brightness(85%);
}